.header{

    border: solid 5px red;
    height: 40px;
    text-align: center;
    padding-top:30px;
    Background-color:red
    
}

.nav{
    text-decoration: none;
    color: white;font-size: x-large;
    padding: 0 10px 0 10px;
   
    
    
}

.nav:hover{
    color: red;
    font-weight: bold;
    background-color:white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px  rgba(39, 36, 36, 0.363);
}


.control-input{
    text-align: right;
    margin-right:30px;
    
}

input{
    width: 200px;
    height: 30x;
}